<!-- <div class="uid-area">
    <h3>Input User ID in Here</h3>
    <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput [formControl]="uid">
        <mat-error *ngIf="uid.hasError('required')">Please Input user ID First</mat-error>
        <mat-error *ngIf="uid.hasError('unAvailable')">ID Doesn't Exist</mat-error>
    </mat-form-field>
    <button mat-stroked-button (click)="searchUser()">Search</button>
</div>

<mat-card *ngIf="userInfo">
    <h3>User Info</h3>
    <p>
        <span class="title">Name: </span><span class="data">{{userInfo.firstName}} {{userInfo.lastName}}</span>
    </p>
    <p>
        <span class="title">Email: </span><span class="data">{{userInfo.email}}</span>
    </p>
    <p>
        <span class="title">Phone: </span><span class="data">{{userInfo.phone}}</span>
    </p>
    <p>
        <span class="title">Role: </span><span class="data">{{userInfo.role}}</span>
    </p>
    <p fxLayout="row">
        <span fxFlex="1 1 auto"></span>
        <button 
            mat-raised-button 
            (click)="createModerator()"
            [disabled]="userInfo.role === 'admin'">Make Moderator</button>
    </p>
</mat-card> -->




<mat-card style="width: 500px; margin: auto; margin-top: 100px">
    <h2 style="text-align: center;"> This Option Is Unavailable For Now</h2>
</mat-card>