<div class="spacer"></div>
<app-login-form></app-login-form>



<mat-card style="margin: auto; margin-top: 50px; margin-bottom: 20px; width: 250px;">
    <h4 style="text-align: center; color: gray; margin-bottom: 30px">Proprietor Login</h4>
    <h3 style="text-align: center;">Proprietor Login</h3>
    <p style="text-align: center;">name1@gmail.com- 123456</p>
    <h3 style="text-align: center; margin-top: 10px">Admin Login</h3>
    <p style="text-align: center;">name2@gmail.com- 123456</p>
</mat-card>
