<div>
    <button class="action-button"
    mat-stroked-button 
    routerLink="/admin/admin-list">Admin List
    </button>
</div>

<div>
    <button class="action-button"
        mat-stroked-button 
        routerLink="/admin/new-admin">Create New Admin
    </button>
</div>

<div>
    <button class="action-button"
        mat-stroked-button 
        routerLink="/admin/new-bus-brand">Create New Bus Brand
    </button>
</div>
<div>
    <button class="action-button"
        mat-stroked-button 
        routerLink="/admin/all-bus-list">All Buses
    </button>
</div>