
<div>

    <div class="page-blocker"
        *ngIf="pageBlocker || sideLogin"
        fxLayout="column" fxLayoutAlign="start center">
        <div *ngIf="pageBlocker" style="margin-top: 180px">
            <mat-spinner></mat-spinner>
        </div>
    </div>

    <div class="side-login-area" 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        
        [ngStyle]="{
            'width.px': sideLogin ? 300 : 0
        }">

        <div class="sideLogin"
            fxLayout="row wrap"
            style="margin-bottom: 10px">
            <p fxFlex="1 1 100%">Please <b>LOGIN</b> First</p>
            <span fxFlex="1 1 250px"></span>
            <button class="close-side-login"
                mat-icon-button
                (click)="closeSideLoginArea()">
                <mat-icon style="color: white">close</mat-icon>
            </button>
        </div>
        <app-login-form *ngIf="sideLogin"></app-login-form>
      <h4 style="text-align: center; margin-top: 20px; color: gray;">Please go to Login Page For testing login Credential</h4>
    </div>
</div>

<div class="main-container">
    <app-nav>
        <ng-container class="routerOutlet">
            <router-outlet></router-outlet>
        </ng-container>
    </app-nav>
</div>


<!-- <app-puchase-history></app-puchase-history> -->

<!-- <app-add-new-bus-brand></app-add-new-bus-brand> -->


<!-- <app-purchased-ticket-detail></app-purchased-ticket-detail> -->


<!-- <app-puchase-history></app-puchase-history> -->
