.page-blocker {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(255, 250, 250);
    height: 100%;
    width: 100%;
    z-index: 999;
}
.side-login-area {
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgb(255, 255, 243);
    height: 100%;
    width: 300px;
    transition: width 0.3s linear;
    z-index: 1001;
    overflow: hidden;
    p {
        text-align: center;
        color: red;
        font-weight: 550;
        margin: 10px 0px;
    }
    .close-side-login {
        background: rgb(250, 112, 112);
        &:hover {
            background: rgb(247, 60, 60);
        }
    }
}
.main-container {
    max-width: 1000px;
    min-width: 610px;
    overflow: hidden;
    margin: auto;
}