.page-title {
    text-align: center;
    color: rgb(4, 156, 4);
    font-weight: bolder;
}

.all-bus-list-area {
    width: 950px;
    margin: auto;
    margin-bottom: 30px;
}

.bus-area {
    margin-top: 30px;
}